# NOTE: Requires **VS2019 16.3** or later

# Dataflow Rules Enabled as build warnings
# Description: All Dataflow Rules are enabled as build warnings. Dataflow Rules with IsEnabledByDefault = false are force enabled as build warning. Non-Dataflow Rules are disabled.

# Code files
[*.{cs,vb}]

# Dataflow Rules



# Other Rules
